*{
    margin: 0;
    padding: 0;
    font-family: Transformers;
    
}

html, body {
    width: 100%;
    height: 100%;
    
}

nav {
    position: fixed;
    background-color:  #F22727;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 30px;
    margin-top: 30px;
}

nav ul li:not(:last-child) {
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-size: 1.2em;
}



nav {
    
    font-family: Transformers;
    background-color:  #F22727;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    
    
}


table{padding: 1px; margin: 1px; margin: auto;}

tr{ padding: 18px;}

td{padding: 40px;}



.diecisies {
    transition: transform .2s; 
}
 
.diecisies:hover {
    transform: scale(1.5); 
}

.cuatro {
    transition: transform .2s; 
}
 
.cuatro:hover {
    transform: scale(1.5); 
}


footer{
    background-color: #F28322;
    width: 100%; height: 9%;
    color: white;
    text-align: justify;
    font-family: Transformers;

    border-top: 5px solid black;
}

nav {
    
    font-family: Transformers;
    width: 100%;
    background-color:  #F22727;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    border-bottom: 5px solid black;
    
}

section#slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

div#content-images-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.image-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

h1#slider-text {
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    background: linear-gradient(0deg, rgba(166,166,166,1) 0%, rgba(255,255,255,1) 32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section#content {
    width: 100%;
    height: 0%;
    background-color: #f0f0f0;
}

div.text-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
}

footer{
    background-color: #F28322;
    
    color: white;
 
    font-family: Transformers;

  

    border-top: 5px solid black;

    padding-left: 2em;
}